<a href="#" onclick="togglePause(); return false;">processing on/off</a>
<pre id="status">
</pre>
<script type="text/javascript">
  // reload every 5 minutes because of memory issues and to generally clean up everything
  reloadAfter(1000 * 60 * 5);
</script>

