<div id="image" style="width: 100px;" >
    <%#<img src="/drum.jpg" style="width: 100%;"/><br /> %>
    <%#<em>Gledajte ovu krasnu sliku dok cekate da se poso lijevo obavi</em> %>
</div>

<pre id="status"> 
</pre>
