<html>
  <head>
    <script type="text/javascript" src="/jquery.js"></script>
    <script type="text/javascript" src="/common.js"></script>
    <% if @include_javascript %>
      <script type="text/javascript" src="/md5.js"></script>
      <script type="text/javascript" src="/main.js?user=<%= params[:user]  %>"></script>
    <% end %>
    <style type="text/css" media="screen">
	/* <![CDATA[ */   @import url('/basic.css');    /* ]]>  */
    </style>
  </head>

  <body>
    <div id="header">
	<a href="/">Home</a> | <a href="/stats">Stats</a> Hello, you are <strong><%= params[:user] %></strong>!
    </div>
    <%= yield %>
  </body>
</html>

